
<div class="card-4">
    <div class="col-md-4 mx-auto">
        <div class="card-body">
            <h1>Generacion  masiva de datos</h1>
            <br>
            

            <form action="/cursos/show" method="POST">
                <button class="btn btn-success form-control" name="button">Generar valores aleatorios</button>
            </form>
            
        </div>
    </div>
</div>