<div class="conteiner p-4">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <form action="/cursos/add" method="POST">
                    <input type="text" class="form-control" name="matricula" placeholder="Matricula" autofocus>
                
                <br>
                
                    <input type="text" class="form-control" name="tema" placeholder="Tema" autofocus>
                
                <br>
                
                    <input type="text" class="form-control" name="materia" placeholder="Materia" autofocus>
                
                <br>
                
                    <input type="text" class="form-control" name="for_ensenanza" placeholder="Forma enseñanza" autofocus>
                
                <br>
                
                    <input type="text" class="form-control" name="tipo_tarea" placeholder="Tipo tarea" autofocus>
                
                <br>
                
                    <input type="text" class="form-control" name="calificacion" placeholder="Calificacion" autofocus>
                
                <br>
                
                    <input type="text" class="form-control" name="err_cometidos1" placeholder="Errores cometidos 1" autofocus>

                <br>
                
                    <input type="text" class="form-control" name="err_cometidos2" placeholder="Errores cometidos 2" autofocus>
                <br>
                
                    <input type="text" class="form-control" name="err_cometidos3" placeholder="Errores cometidos 3" autofocus>
                <br>
                
                    <input type="text" class="form-control" name="err_cometidos4" placeholder="Errores cometidos 4" autofocus>
                <br>
                
                    <input type="text" class="form-control" name="err_cometidos5" placeholder="Errores cometidos 5" autofocus>
                <br>
                
                    <input type="text" class="form-control" name="err_cometidos6" placeholder="Errores cometidos 6" autofocus>


                
                <br>
                
                    <input type="text" class="form-control" name="acc_cometidas" placeholder="Acciones cometidas" autofocus>
                
                <br>
                
                    <button class="btn btn-success form-control" name="button">Enviar</button>
                </form>
            </div>
        </div>
    </div>

</div>