<div class="card-4">
    <div class="col-md-4 mx-auto">
        <div class="card-body">
            <h1>Generacion  masiva de matriculas</h1>
            <br>
            
            <form action="/cursos/tablas" method="POST">
                Sección a matricular <input type="number" min="0" pattern="\d*" step="1" name="seccion" required >
                <br><br>
                <button class="btn btn-success form-control" name="button">Generar matriculas</button>
            </form>
            
        </div>
    </div>
</div>