<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="card-4">
    <div class="col-md-4 mx-auto">
        <div class="card-body">
            <h1>Graficado de errores</h1>
            <br>
            <form action="/cursos/graficos" method="POST">
                <label >Selecciona el tipo de grafico a representar</label>
                <br>
                <select class="form-control" name="tipografico" required>
                    <option value="1" selected>Errores en tareas</option>
                    <option value="2">Reprobados</option>
                    <option value="3">Comparació de secciones</option>
                </select>
                <br><br>
                <button class="btn btn-success form-control" name="button">Generar gráfica</button>
            </form>   
            <canvas id="myChart"></canvas>
            
            
            <script>
                var ejeX = [{{matrices.ejeX}}];
                var ejeY = [{{matrices.ejeY}}]
                console.log(ejeX + ", " + ejeY);
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'bar',

                    // The data for our dataset
                    data: {
                        labels: ejeX,
                        datasets: [{
                            label: 'Graficas',
                            backgroundColor: 'rgb(0, 0, 0)',
                            borderColor: 'rgb(0, 0, 0)',
                            data: ejeY
                        }]
                    },
                    options: {}
                });
               
                
            </script>

        </div>
    </div>
</div>

